[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
sync = {editable = true, path = "."}
blessed = "*"
pysync = {editable = true, path = "."}
pyyaml = "*"

[dev-packages]
jupyterlab = "*"
jupytext = "*"

[requires]
python_version = "3.9"
