[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
blessed = "*"
pyyaml = "*"

[dev-packages]
cs-sync = {editable = true, path = "."}
wheel = "*"
setuptools = "*"

[requires]
